@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

body {
  background-color: rgb(245, 245, 250);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NoImageDisclaimer {
  border: 1px solid rgb(75, 200, 75);
  width: 270px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  padding-block: 25px;
  color: rgb(200, 75, 75);
}

.Disclaimer {
  text-align: center;
  font-size: 40px;
  padding-block: 25px;
  color: rgb(200, 75, 75);
}

.App {
  margin-inline: auto;
  width: 1000px;
  background-color: rgb(225, 225, 250);
}
