.MovieCard {
  width: 300px;
  border: 1px solid rgb(75, 200, 75);
  border-radius: 25px;
  padding: 10px;
  background-color: rgb(240, 250, 240);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.MovieImage {
  width: 270px;
  height: 450px;
  border-radius: 10px;
}

.MovieTitle {
}

.MovieRating {
}

.MovieGenresHeader {
}

.MovieGenres {
}

.MovieGenre {
}
