.MovieCard {
  width: 300px;
  border: 1px solid rgb(75, 200, 75);
  border-radius: 25px;
}

.MovieImage {
  width: 90%;
}

.MovieTitle {
}

.MovieRating {
}

.MovieGenresHeader {
}

.MovieGenres {
}

.MovieGenre {
}
