.MovieCard {
  width: 300px;
  border: 1px solid rgb(75, 200, 75);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.MovieImage {
  width: 90%;
}

.MovieTitle {
}

.MovieRating {
}

.MovieGenresHeader {
}

.MovieGenres {
}

.MovieGenre {
}
