.MovieSearch {
  height: 100px;
  background-color: rgb(225, 250, 225);
  display: flex;
  align-items: center;
}

.MovieSearchInput {
  display: block;
  outline: none;
  height: 50px;
  width: 90%;
  border: 1px solid rgb(75, 200, 75);
  border-radius: 5px;
  background: rgb(245, 250, 245);
  font-size: 35px;
  color: rgb(75, 200, 75);
}

.MovieSearchInput:focus-within {
  border: 3px solid rgb(75, 200, 75);
}

.MovieSearchSubmit {
  display: block;
  outline: none;
  height: 50px;
  width: 10%;
  border: 3px solid rgb(75, 200, 75);
  border-radius: 5px;
  background: rgb(75, 200, 75);
  color: rgb(245, 250, 245);
}

.MovieSearchSubmit:hover {
  background-color: rgb(225, 250, 225);
  border: 3px solid rgb(75, 200, 75);
  color: rgb(75, 200, 75);
}

.MovieCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 25px;
}
